@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Text;
@using Org.BouncyCastle.Crypto;
@using Org.BouncyCastle.Crypto.Generators;
@using CryptoLib;
@inject HttpClient Http
@inject ILocalStorageService LocalStorage
@page "/uploadPage"

<h3>Upload File here:</h3>
<InputFile OnChange="@LoadFiles" class="form-control" accept=".png,.jpg,.jpeg, .pdf" />

@code {

    private CryptoService _cryptoService = new CryptoService();

    protected override async Task OnInitializedAsync()
    {
        string token = await LocalStorage.GetItemAsync<string>("token");
        Http.DefaultRequestHeaders.Remove("Authorization");
        Http.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
        Dictionary<string, string> result = await Http.GetFromJsonAsync<Dictionary<string, string>>("api/File/dfParameters");

        if (result == null)
            Console.WriteLine("result is null");
        else
        {
            Dictionary<string, string> stringKeys =await  _cryptoService.GenerateKeys(result);
            await LocalStorage.SetItemAsync("PublicKey", stringKeys["Public"]);
            await LocalStorage.SetItemAsync("PrivateKey", stringKeys["Private"]);
            await LocalStorage.SetItemAsync("Base64SymKey", stringKeys["SymKey"]);
            await LocalStorage.SetItemAsync("A", stringKeys["A"]);
            var res = await Http.PostAsJsonAsync("api/File/DFexchange", stringKeys["A"]);
            Console.WriteLine(res.Content.ToString());

        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {

        var file = e.GetMultipleFiles().FirstOrDefault(); // Get the first file if multiple files are selected
                                                          // if (file != null)
                                                          // {
                                                          //     string token = await LocalStorage.GetItemAsync<string>("token");
                                                          //     Http.DefaultRequestHeaders.Remove("Authorization");
                                                          //     Http.DefaultRequestHeaders.Add("Authorization", "Bearer "+token);

        //     var content = new MultipartFormDataContent();
        //     content.Add(new StreamContent(file.OpenReadStream()), "file", file.Name); // "file" is the key for the file

        //     var result = await Http.PostAsync("api/File/upload", content);
        //     if (result.IsSuccessStatusCode)
        //     {
        //         Console.WriteLine(result.Content.ToString());
        //     }


        // }
        long maxFileSize = 200000 * 1024 * 10;

        Stream streamFile = file.OpenReadStream(maxFileSize);
        byte[] buffer = new byte[1024];

        int bytesRead;
        long totalBytesRead = 0;


        Console.WriteLine(file.Size);
        while ((bytesRead = await streamFile.ReadAsync(buffer, 0, buffer.Length)) > 0)
        {
            totalBytesRead += bytesRead;
            // Console.WriteLine($"Read {bytesRead} bytes. Total read: {totalBytesRead} bytes.");

            // Process the chunk, e.g., display, save, or manipulate it as needed.
            // In this example, we are just displaying the chunk.
            // DisplayChunk(buffer, bytesRead);
        }
        Console.WriteLine($"Read {bytesRead} bytes. Total read: {totalBytesRead} bytes.");
        streamFile.Close();
    }
}
